/* General Styles */

.form-container{
 height: 100%;
overflow-y: scroll;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;

}

.formpage {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-top: auto;
margin-bottom: 50px;
}

/* Form Layout */
form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

label {
    font-size: 1em;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="date"],
input[type="number"],
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

input[type="number"] {
    width: calc(50% - 10px);
    display: inline-block;
}

select {
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

/* Additional Styling */
.hidden {
    display: none;
}

#displayAgeCategory, #displayAgeDetail, #displaybmi, #displayeco, #displaySI, #displayedu, 
#displaygender, #displayHI, #displaymed, #displaydis {
    font-size: 1.1em;
    color: #333;
}

#feet-inches-container input {
    width: calc(50% - 10px);
    display: inline-block;
}



/* Responsive Design */
@media (max-width: 768px) {
    .formpage {
        width: 90%;
        padding: 15px;
    }

    input[type="number"], select, button {
        width: 100%;
    }

    #feet-inches-container input {
        width: 48%;
    }
}
