.dashboard {
    overflow: auto;
}

.Tabpage {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.Tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    min-width: 140px;
    justify-content: space-between;

    border-radius: 20px;
    padding-bottom: 20px;

    input {
        display: none;
    }
}

.Tabsgroup {
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: white;
    padding: 20px;

    input {
        display: none;
    }
}

.settingsgroup {
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: white;
    padding: 2px 20px;

    input {
        display: none;
    }
}

.Tab {
    height: 40px;
    width: 100px;
    text-align: center;
    position: relative;
    /* Needed for absolute positioning of ::after */
    cursor: pointer;
    border-radius: 0px;

    :hover {
        font-weight: 500;
    }
}




.name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    font-size: 20px;
}

/* Animated underline effect */


/* When radio is checked, expand the underline from the center */
.Tab input:checked+.name {
    width: 100%;
    left: 0;
    font-weight: 900;
}







.TabContent {
    position: relative;
    display: flex;
    flex: 0.9;
    justify-content: center;
    border-left: 2px solid black;
    height: 100%;
    padding: 20px;
    overflow: auto;
}





































@media screen and (max-width: 500px) {

    main {
        overflow-x: hidden;
        justify-content: start !important;
    }

    .Tabpage {
        flex-direction: column;
    }

.TabContent{
    border: 0px;
}
    .Tabs {
        position: relative;
        width: min-content;
        display: flex;
        flex-direction: row;

        justify-content: center;

        border-radius: 0px;
        padding-bottom: 0px;


        input {
            display: none;
        }
    }



    .Tabsgroup {
        display: flex;
        flex-direction: row;
        width: max-content;
        border-radius: 0px;
        background-color: white;
        padding: 5px;

        input {
            display: none;
        }
    }

    .settingsgroup {
        position: relative;
        display: flex;
        flex-direction: column;

        border-radius: 0px;
        background-color: white;
        padding: 2px;

        input {
            display: none;
        }
    }

    .Tabsbar {
        overflow-x: auto;
        height: 50px;
        width: 100%;

    }

    .Tab {
        border-right: 1px solid black;
    }

    .name {
        justify-content: center;
    }






    
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .Tabpage {
        flex-direction: column;
    }
.Tabsbar{
    padding-bottom: 5px;
    border-bottom: 5px solid black;

}
    .Tabs {
        width: auto;
        padding: 0px;
        flex-direction: row;
        justify-content: center;
        border: 2px solid black;
        border-radius: 0px;
        flex: 1;
    }

    .Tabsgroup {
        width: auto;         
        padding: 0px;
        flex-direction: row;
        border-radius: 0px;
        flex: 1;
    }

    .settingsgroup {
        display: flex;
        border-radius: 0px;
        padding: 0px;
        flex: 0.2;
        .Tab{
width: 100%;        }
    }
    .Tab{
        border-left: 2px solid black;
        border-right: 2px solid black;
                margin:0px;
                flex: 1;
    }
    .TabContent{
        border: 0px;
    }
}