.dashboard{
    overflow: auto;
}

.Tabpage{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}
.Tabs{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 15%;
    min-width: 140px;

border-radius: 20px;
background-color: white;
padding: 20px;

    input{
        display: none;
    }
}


.Tab {
    height: 40px;
    width: 100px;
    text-align: center;
    position: relative; /* Needed for absolute positioning of ::after */
    cursor: pointer;
background-color: whitesmoke;
    border-radius: 20px;

    :hover{
        background-color: rgba(190, 188, 188, 0.847);
        border-radius: 20px;

    }
}




.name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Animated underline effect */


/* When radio is checked, expand the underline from the center */
.Tab input:checked + .name::after {
    width: 100%;
    left: 0;
    background-color: whitesmoke;
}







.TabContent{
    display: flex;
    flex: 0.9;
    justify-content: center;
    height: 100%;
    border: 2px solid black;
}






























