/* Header Styles */

.para1 {
    font-size: 14px;
}

/* Sidebar Styles */
.sidebaroverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.sidebar {
    position: relative;
    background: white;
    width: 250px;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
